[alias]
b  = "build"
br  = "build -r"
c  = "check"
t  = "test"
r  = "run"
rr = "run --release"

[env]
RUST_BACKTRACE     = "0"
RUST_LIB_BACKTRACE = "0"

[profile.dev]
debug           = "line-tables-only"
split-debuginfo = "unpacked"

  [profile.dev.package."*"]
  debug = false

[profile.bench]
debug           = "line-tables-only"
split-debuginfo = "unpacked"

[profile.debug]
debug    = "full"
inherits = "dev"

# Applied through `cargo build --profile=product`
[profile.product]
codegen-units = 1
inherits      = "release"
lto           = "fat"

[build]
rustc-wrapper = "/usr/bin/sccache"

[net]
git-fetch-with-cli = true

[registries.crates-io]
protocol = "sparse" 

[source]
crates-io      = { replace-with = "rsproxy-sparse" }
rsproxy-sparse = { registry = "sparse+https://rsproxy.cn/index/" }

[target.x86_64-unknown-linux-gnu]
linker    = "clang"
rustflags = ["-C", "link-arg=--ld-path=wild"]

[cache]
auto-clean-frequency = "7 day"
