# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio          = [2, 5, 5]
sort_by        = "natural"
sort_sensitive = true
sort_reverse   = false
sort_dir_first = true
sort_translit  = true
linemode       = "size"
show_hidden    = true
show_symlink   = true
scrolloff      = 5
mouse_events   = ["click", "scroll"]
title_format   = "Yazi: {cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 3200
max_height      = 2000
cache_dir       = ""
image_delay     = 0
image_filter    = "nearest"
image_quality   = 90
ueberzug_scale  = 1
ueberzug_offset = [10, 3, -0.5, -0.5]

[opener]
edit = [
  { run = "${EDITOR:-vi} %s", desc = "$EDITOR", for = "unix", block = true },
  { run = "code %s", desc = "code", for = "windows", orphan = true },
  { run = "code -w %s", desc = "code (block)", for = "windows", block = true },
]
media = [
  { run = "mediainfo %s1; echo 'Press enter to exit'; read _", block = true, desc = "Show media info", for = "unix" },
  { run = "mediainfo %s1 & pause", block = true, desc = "Show media info", for = "windows" },
]
open = [
  { run = "xdg-open %s1", desc = "Open", for = "linux" },
  { run = "open %s1", desc = "Open", for = "macos" },
  { run = 'start "" %s1', orphan = true, desc = "Open", for = "windows" },
  { run = "termux-open %s1", desc = "Open", for = "android" },
]
reveal = [
  { run = "xdg-open %d1", desc = "Reveal", for = "linux" },
  { run = "open -R %s1", desc = "Reveal", for = "macos" },
  { run = "explorer /select,%s1", desc = "Reveal", for = "windows", orphan = true },
  { run = "termux-open %d1", desc = "Reveal", for = "android" },
  { run = "clear; exiftool %s1; echo 'Press enter to exit'; read _", desc = "Show EXIF", for = "unix", block = true },
]
extract = [{ run = "ya pub extract --list %s", desc = "Extract here" }]
download = [
  { run = "ya emit download %S", desc = "Download" },
  { run = "ya emit download --open %S", desc = "Download and open" },
]
binutil = [
  { run = "strip --only-keep-debug %s1 -o %s1.debug && strip %s1", desc = "strip" },
  { run = "aarch64-linux-gnu-strip --only-keep-debug %s1 -o %s1.debug && aarch64-linux-gnu-strip %s1", desc = "aarch64-strip" },
]
compress = [
  { run = "cd %s1 && zip -r %s1.zip $(realpath --relative-to=$PWD %s1)", desc = "Zip" },
  { run = "tar -czvf %s1.tar.gz $(realpath --relative-to=$PWD %s1)", desc = "Tar.gz" },
  { run = "tar -cvf %s1.tar $(realpath --relative-to=$PWD %s1)", desc = "Tar" },
]
deb = [{ run = "dpkg-deb -x %s1 ${1%.deb} && dpkg-deb -e %s1 ${1%.deb}/DEBIAN", desc = "Extract deb here" }]
# images = [{ run = "swww img --transition-type=fade --transition-step=255 --transition-duration=1 --transition-fps=120 %s1", desc = "Set as wallpaper" }]
terminal-here = [
  { run = "kitty @ launch --type=tab --cwd %d1", desc = "Kitty Tab Here", for = "linux" },
  { run = "kitty @ launch --type=window --cwd %d1", desc = "Kitty Window Here", for = "linux" },
]

[open]
rules = [
  # Text
  { mime = "{{text/*,inode/empty,*/javascript},application/{json,ndjson}}", use = ["edit", "open", "reveal", "terminal-here"] },
  # Image
  { mime = "image/*", use = ["images", "open", "reveal", "terminal-here"] },
  # Media
  { mime = "{audio,video,image}/*", use = ["media", "open", "reveal", "terminal-here"] },
  # Archive
  { mime = "application/{gzip,zip,tar,bzip*,7z*,xz,rar,zstd,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = ["extract", "open", "reveal", "terminal-here"] },
  # Binary
  { mime = "application/{*sharedlib,*executable}", use = ["binutil", "open", "reveal", "terminal-here"] },
  # Debian package
  { mime = "application/{*debian.binary-package}", use = ["deb", "open", "reveal", "terminal-here"] },
  # Virtual file system
  { mime = "vfs/*", use = "download" },
  # Folder
  { url = "*/", use = ["reveal", "compress", "terminal-here"] },
  # Fallback
  { url = "*", use = ["open", "terminal-here", "edit", "reveal"] },
]

[tasks]
micro_workers    = 10
macro_workers    = 10
bizarre_retry    = 3
image_alloc      = 536870912      # 512MB
image_bound      = [10000, 10000]
suppress_preload = false

[plugin]
fetchers = [
  # Mimetype
  { id = "mime", url = "*/", run = "mime.dir", prio = "high" },
  { id = "mime", url = "local://*", run = "mime.local", prio = "high" },
  { id = "mime", url = "remote://*", run = "mime.remote", prio = "high" },
  # { id = "git", url = "local://*", run = "git", prio = "normal" },
  # { id = "git", url = "*/", run = "git", prio = "normal" },
]

spotters = [
  # Folder
  { url = "*/", run = "folder" },
  # Code
  { mime = "text/*", run = "code" },
  { mime = "application/{mbox,xml,javascript,wine-extension-ini}", run = "code" },
  # Image
  { mime = "image/{avif,hei?,jxl}", run = "magick" },
  { mime = "image/svg+xml", run = "svg" },
  { mime = "image/*", run = "image" },
  # Video
  { mime = "video/*", run = "video" },
  # Virtual file system
  { mime = "vfs/*", run = "vfs" },
  # Fallback
  { url = "*", run = "file" },
]

preloaders = [
  # Noop
  { url = "*sshfs/**", run = "noop" },
  # Image
  { mime = "image/{avif,hei?,jxl}", run = "magick" },
  { mime = "image/svg+xml", run = "svg" },
  { mime = "image/*", run = "image" },
  # Video
  { mime = "video/*", run = "video" },
  # PDF
  { mime = "application/pdf", run = "pdf" },
  # Font
  { mime = "font/*", run = "font" },
  { mime = "application/ms-opentype", run = "font" },
]

# prepend_previewers = [{ url = "*.md", run = "mdcat" }]
previewers = [
  { url = "*sshfs/**", run = "noop" },
  # Folder
  { url = "*/", run = "folder" },
  # Code
  { mime = "text/*", run = "code" },
  { mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
  # JSON
  { mime = "application/{json,ndjson}", run = "json" },
  # Image
  { mime = "image/{avif,hei?,jxl}", run = "magick" },
  { mime = "image/svg+xml", run = "svg" },
  { mime = "image/*", run = "image" },
  # Video
  { mime = "video/*", run = "video" },
  # PDF
  { mime = "application/pdf", run = "pdf" },
  # Archive
  { url = "*.{rar,tar,tar.gz,tar.xz,tar.zst,tar.bz2,zip,7z,squashfs,a}", run = 'piper -- bd ls "$1"' },
  { mime = "application/iso9660-image", run = "archive" },
  { mime = "application/{redhat-package-manager,rpm,android.package-archive}", run = "archive" },
  { mime = "application/debian*-package", run = 'piper -- dpkg -c "$1" | sed "s/^[^ ]* *[^ ]* *[^ ]* *[^ ]* *[^ ]* *//" | less' },
  { url = "*.{AppImage,appimage}", run = "archive" },
  # Virtual Disk / Disk Image
  { mime = "application/{iso9660-image,qemu-disk,ms-wim,apple-diskimage}", run = "archive" },
  { mime = "application/virtualbox-{vhd,vhdx}", run = "archive" },
  { url = "*.{img,fat,ext,ext2,ext3,ext4,squashfs,ntfs,hfs,hfsx}", run = "archive" },
  # Font
  { mime = "font/*", run = "font" },
  { mime = "application/ms-opentype", run = "font" },
  # Empty file
  { mime = "inode/empty", run = "empty" },
  # Virtual file system
  { mime = "vfs/*", run = "vfs" },
  # Fallback
  { url = "*", run = "file" },
]

[input]
cursor_blink = false
# cd
cd_title  = "Change directory:"
cd_origin = "top-center"
cd_offset = [0, 2, 50, 3]
# create
create_title  = ["Create:", "Create (dir):"]
create_origin = "top-center"
create_offset = [0, 2, 50, 3]
# rename
rename_title  = "Rename:"
rename_origin = "hovered"
rename_offset = [0, 1, 50, 3]
# filter
filter_title  = "Filter:"
filter_origin = "top-center"
filter_offset = [0, 2, 50, 3]
# find
find_title  = ["Find next:", "Find previous:"]
find_origin = "top-center"
find_offset = [0, 2, 50, 3]
# search
search_title  = "Search via {n}:"
search_origin = "top-center"
search_offset = [0, 2, 50, 3]
# shell
shell_title  = ["Shell:", "Shell (block):"]
shell_origin = "top-center"
shell_offset = [0, 2, 50, 3]

[confirm]
# trash
trash_title  = "Trash {n} selected file{s}?"
trash_origin = "center"
trash_offset = [0, 0, 70, 20]
# delete
delete_title  = "Permanently delete {n} selected file{s}?"
delete_origin = "center"
delete_offset = [0, 0, 70, 20]
# overwrite
overwrite_title  = "Overwrite file?"
overwrite_body   = "Will overwrite the following file:"
overwrite_origin = "center"
overwrite_offset = [0, 0, 50, 15]

# quit
quit_title  = "Quit?"
quit_body   = "The following tasks are still running, are you sure you want to quit?"
quit_origin = "center"
quit_offset = [0, 0, 50, 15]

[pick]
open_title  = "Open with:"
open_origin = "hovered"
open_offset = [0, 1, 50, 7]

[which]
sort_by        = "none"
sort_reverse   = false
sort_sensitive = false
sort_translit  = false
