// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
//
// Using https://danklinux.com/docs/getting-started

workspace "main" {
    open-on-output "eDP-1"
}
workspace "browser" {
    open-on-output "HDMI-A-1"
}
workspace "misc" {
    open-on-output "eDP-1"
}
workspace "chat" {
    open-on-output "eDP-1"
}

environment {
    LC_MESSAGES "en_US.UTF-8"
    // NOTE: https://fcitx-im.org/wiki/Using_Fcitx_5_on_Wayland#KDE_Plasma
    XMODIFIERS "@im=fcitx"
    JAVA_TOOL_OPTIONS "-Dsun.java2d.uiScale=2" // 高分屏用
    QT_AUTO_SCREEN_SCALE_FACTOR "0"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_ENABLE_HIGHDPI_SCALING "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
    MOZ_ENABLE_WAYLAND "1"
}

input {
    keyboard {
        numlock
        repeat-delay 130
        repeat-rate 100
    }
    touchpad {
        tap
        dwt
        // natural-scroll
    }
    // warp-mouse-to-focus
    // workspace-auto-back-and-forth
    mod-key "Super"
}

config-notification {
    disable-failed
}

output "HDMI-A-1" {
    // off
    mode "2560x1440@120"
    position x=0 y=0
    scale 1
    transform "normal"
    hot-corners {
        off
    }
    // variable-refresh-rate
}

output "eDP-1" {
    mode "2880x1800@120"
    scale 1.5
    transform "normal"
    focus-at-startup
    variable-refresh-rate
    hot-corners {
        off
    }
}

gestures {
    hot-corners {
        off
    }
}

layout {
    center-focused-column "never"
    always-center-single-column false

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66666
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.66666
        proportion 1.0
    }
    default-column-width { proportion 0.5; }

    tab-indicator {
        width 4
        gap 8
        length total-proportion=1.0
        position "top"
        place-within-column
    }

    struts {
    }

    focus-ring {
        off
    }
    border {
        off
    }
    shadow {
        off
    }
    insert-hint {
        off
    }
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "bash" "-c" "QT_SCALE_FACTOR=2 wechat-universal &"
spawn-at-startup "zen"
spawn-at-startup "splayer"
// spawn-at-startup "waybar"
// spawn-at-startup "swww-daemon"
// spawn-at-startup "wpround"
// spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
// spawn-at-startup "fcitx5"
// spawn-at-startup "~/.config/niri/scripts/swayidle.sh"
// spawn-sh-at-startup "wl-paste -t text --watch cliphist store -max-items 300"
// spawn-sh-at-startup "wl-paste -t image --watch cliphist store -max-items 30"
// spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri & /usr/lib/xdg-desktop-portal-kde"
// spawn-at-startup "kitty"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

window-rule {
    open-focused true
}
window-rule {
    match is-active=false
    opacity 0.95
}
window-rule {
    clip-to-geometry true
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
}
window-rule {
    open-floating false
    default-column-width { proportion 0.5; }
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    match app-id="SPlayer" title="SPlayer - 桌面歌词"
}
window-rule {
    open-maximized true
    match app-id="zen-browser"
}
window-rule {
    open-floating true
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    match app-id="zen-browser" title="^Picture-in-Picture$"
    match app-id="com.gabm.satty"
    match app-id="com.follow.clash"
    match app-id="xwaylandvideobridge"
    match app-id="pot"
    match app-id="wechat" title="图片和视频"
    match app-id="QQ" title="图片查看器"
    match app-id="Feishu" title="图片"
    match app-id=r#"org.quickshell$"#
    match app-id="wemeetapp"
}
window-rule {
    open-on-workspace "chat"
    match app-id="wechat"
    match app-id="Feishu"
    match app-id="QQ"
}
window-rule {
    open-on-workspace "misc"
    match app-id="xwaylandvideobridge"
    match app-id="com.follow.clash"
    match app-id="SPlayer"
}
window-rule {
    open-on-workspace "browser"
    match app-id="zen-browser"
    match app-id="SPlayer" title="SPlayer - 桌面歌词"
}
window-rule {
    default-floating-position x=10 y=10 relative-to="bottom-right"
    match app-id="SPlayer" title="SPlayer - 桌面歌词"
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Override to disable super+tab
recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        // Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        // Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

// Include dms files
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
