// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
//
// Using https://danklinux.com/docs/getting-started

workspace "main" {
    open-on-output "eDP-1"
}
workspace "browser" {
    open-on-output "HDMI-A-1"
}
workspace "misc" {
    open-on-output "eDP-1"
}
workspace "chat" {
    open-on-output "eDP-1"
}

layout {
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
}

environment {
    LC_MESSAGES "en_US.UTF-8"
    // NOTE: https://fcitx-im.org/wiki/Using_Fcitx_5_on_Wayland#KDE_Plasma
    XMODIFIERS "@im=fcitx"
    JAVA_TOOL_OPTIONS "-Dsun.java2d.uiScale=2" // 高分屏用
    QT_AUTO_SCREEN_SCALE_FACTOR "0"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_ENABLE_HIGHDPI_SCALING "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
    MOZ_ENABLE_WAYLAND "1"
}

input {
    keyboard {
        numlock
        repeat-delay 140
        repeat-rate 100
    }
    touchpad {
        tap
        dwt
    }
    mod-key "Super"
}

config-notification {
    disable-failed
}


gestures {
    hot-corners {
        off
    }
}

xwayland-satellite {
    path "/usr/bin/xwayland-satellite"
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}

switch-events {
    lid-close { spawn "notify-send" "The laptop lid is closed!"; }
    lid-open { spawn "notify-send" "The laptop lid is open!"; }
    tablet-mode-on { spawn "bash" "-c" "gsettings set org.gnome.desktop.a11y.applications screen-keyboard-enabled true"; }
    tablet-mode-off { spawn "bash" "-c" "gsettings set org.gnome.desktop.a11y.applications screen-keyboard-enabled false"; }
}

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "bash" "-c" "QT_SCALE_FACTOR=2 wechat-universal &"
spawn-at-startup "zen"
spawn-at-startup "/opt/SPlayer/SPlayer"
spawn-at-startup "showmethekey-gtk"
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri & /usr/lib/xdg-desktop-portal-hyprland"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d_%H_%M_%S.png"

cursor {
    xcursor-theme "Breeze_Light"
    xcursor-size 48
}

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Override to disable super+tab
recent-windows {
    binds {
        Alt+Tab   { next-window scope="output"; }
        Alt+grave { next-window filter="app-id"; }
    }
}

// Include dms files
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/window-rule.kdl"
include "dms/outputs.kdl"

include "dms/cursor.kdl"
