// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
//
// Using https://danklinux.com/docs/getting-started

workspace "main" {
    open-on-output "eDP-1"
}
workspace "browser" {
    open-on-output "HDMI-A-1"
}
workspace "misc" {
    open-on-output "eDP-1"
}
workspace "chat" {
    open-on-output "eDP-1"
}

environment {
    LC_MESSAGES "en_US.UTF-8"
    // NOTE: https://fcitx-im.org/wiki/Using_Fcitx_5_on_Wayland#KDE_Plasma
    XMODIFIERS "@im=fcitx"
    JAVA_TOOL_OPTIONS "-Dsun.java2d.uiScale=2" // 高分屏用
    QT_AUTO_SCREEN_SCALE_FACTOR "0"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_ENABLE_HIGHDPI_SCALING "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
    MOZ_ENABLE_WAYLAND "1"
}

input {
    keyboard {
        numlock
        repeat-delay 130
        repeat-rate 100
    }
    touchpad {
        tap
        dwt
        // natural-scroll
    }
    // warp-mouse-to-focus
    // workspace-auto-back-and-forth
    mod-key "Super"
}

config-notification {
    disable-failed
}

output "HDMI-A-1" {
    // off
    mode "2560x1440@120"
    position x=0 y=0
    scale 1
    transform "normal"
    hot-corners {
        off
    }
    // variable-refresh-rate
}

output "eDP-1" {
    mode "2880x1800@120"
    scale 1.5
    transform "normal"
    focus-at-startup
    variable-refresh-rate
    hot-corners {
        off
    }
}

gestures {
    hot-corners {
        off
    }
}

layout {
    background-color "transparent"
    center-focused-column "never"
    always-center-single-column false

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66666
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.66666
        proportion 1.0
    }
    default-column-width { proportion 0.5; }

    focus-ring {
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    tab-indicator {
        width 4
        gap 8
        length total-proportion=1.0
        position "top"
        place-within-column
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
    }
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "bash" "-c" "QT_SCALE_FACTOR=2 wechat-universal &"
spawn-at-startup "zen"
// spawn-at-startup "waybar"
// spawn-at-startup "swww-daemon"
// spawn-at-startup "wpround"
// spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
// spawn-at-startup "fcitx5"
// spawn-at-startup "~/.config/niri/scripts/swayidle.sh"
// spawn-sh-at-startup "wl-paste -t text --watch cliphist store -max-items 300"
// spawn-sh-at-startup "wl-paste -t image --watch cliphist store -max-items 30"
// spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri & /usr/lib/xdg-desktop-portal-kde"
// spawn-at-startup "kitty"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}
// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    match app-id=r#"zen-browser$"# title="^Picture-in-Picture$"
    match app-id="com.gabm.satty"
    match app-id="com.follow.clash"
    match app-id="xwaylandvideobridge"
    match app-id="pot"
    match app-id="wechat" title="图片和视频"
    match app-id="QQ" title="图片查看器"
    match app-id="Feishu" title="图片"
    match app-id=r#"org.quickshell$"#
    open-floating true
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match is-active=false
    opacity 0.95
}

window-rule {
    match app-id="wechat"
    match app-id="Feishu"
    match app-id="QQ"

    open-on-workspace "chat"
}

window-rule {
    match app-id="xwaylandvideobridge"
    match app-id="com.follow.clash"

    open-on-workspace "misc"
}

window-rule {
    match app-id="zen-browser"
    open-on-workspace "browser"
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Override to disable super+tab
recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        // Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        // Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

// Include dms files
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
