* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 24px;
}

@import "latte.css";

window#waybar {
  background-color: #090000;
  transition-property: background-color;
  opacity: 0.65;
  transition-duration: 1s;
  padding: 5px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 0px 5px;
  margin: 0px 2.5px;
  border-radius: 4px;
  color: #666666;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#backlight,
#clock,
#motherboard,
#battery,
#laptop,
#audio,
#network,
#clock,
#tray,
#taskbar,
#custom-dunst-paused,
#custom-song,
#workspaces,
#custom-updates {
  border-radius: 10px;
  margin: 0px 2.5px;
  padding: 0px 5px;
  color: #ffffff;
  opacity: 1;
}

#taskbar.empty {
  background: transparent;
}

#power-profiles-daemon {
  margin-right: 2.5px;
  color: #f2cdcd;
}

#cpu {
  margin-right: 2.5px;
  color: @teal;
}

#memory {
  margin-right: 2.5px;
  color: @lavender;
}

#temperature {
  color: @sky;
}

#battery {
  color: #bada55;
}

@keyframes blink {
  to {
    color: #f38ba8;
  }
}
#battery.charging {
  color: #a6e3a1;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #f0f8ff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: #fab387;
}

#pulseaudio {
  color: #ffd700;
}

#pulseaudio.bluetooth {
  color: #2acaea;
}

#pulseaudio.muted {
  color: #ff0048;
}

#pulseaudio.source-muted {
  color: #ff0048;
}

#network {
  color: #c6e2ff;
  padding-right: 2.5px;
}

#bluetooth {
  min-width: 20px;
  color: #2acaea;
}

#custom-song {
  font-size: 15px;
  color: #ffd1df;
}

#custom-dunst-paused {
  color: @crust;
}

#custom-updates {
  color: #a0db8e;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  color: #cba6f7;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
  opacity: 0.7;
}

tooltip label {
  font-size: 20px;
  padding: 5px;
  color: #f0f8ff;
}

#submap {
  color: @blue;
}
