* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 25px;
}

@import "latte.css";

window#waybar {
  background-color: #000000;
  transition-property: background-color;
  opacity: 0.85;
  transition-duration: 0.5s;
  /* opacity: 0.8; */
  /* background: transparent; */
}

/* window#waybar.hidden { */
/*   opacity: 0.5; */
/* } */

#workspaces {
  /* background-color: transparent; */
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  /* background-color: #1e1e2e; */
  color: #666666;
}

#workspaces button.active {
  color: #ffffff;
  /* background-color: #cdd6f4; */
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#backlight,
#clock,
/* #cpu, */
/* #temperature, */
/* #memory, */
#motherboard,
/* #power-profiles-daemon, */
#battery,
/* #backlight, */
#laptop,
/* #bluetooth, */
/* #pulseaudio, */
#audio,
#network,
#clock,
#tray,
#taskbar,
#custom-dunst-paused,
#custom-updates {
  border-radius: 10px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #101010;
  color: #ffffff;
  opacity: 0.8;
}

#taskbar.empty {
  background: transparent;
}

#power-profiles-daemon {
  margin-right: 6px;
  color: #f2cdcd;
}

#tray {
  /* background-color: @rosewater; */
}

#cpu {
  min-width: 75px;
  color: @teal;
}

#memory {
  min-width: 75px;
  color: @lavender;
}

#temperature {
  color: @sky;
}

#battery {
  color: #bada55;
}

@keyframes blink {
  to {
    color: #f38ba8;
  }
}
#battery.charging {
  color: #a6e3a1;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #f0f8ff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: #fab387;
}

#pulseaudio {
  color: #ffd700;
}

#pulseaudio.bluetooth {
  color: #2acaea;
}

#pulseaudio.muted {
  color: #ff0048;
}

#pulseaudio.source-muted {
  color: #ff0048;
}

#network {
  color: #c6e2ff;
  padding-right: 17px;
}

#bluetooth {
  min-width: 75px;
  color: #2acaea;
}

#custom-song {
  font-size: 30px;
  color: #ff80ed;
}

#custom-dunst-paused {
  color: @crust;
}

#custom-updates {
  color: #a0db8e;
  /* background-color: @teal; */
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  color: #cba6f7;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
  opacity: 0.8;
}

tooltip label {
  padding: 5px;
  /* background-color: #eeeeff; */
  color: #f0f8ff;
}

#submap {
  color: @blue;
}
