/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Catppuccin Latte */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 110%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
}

@import "latte.css";

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /*background: transparent;*/
  /* border-bottom: 2px solid @sapphire; */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background: none;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#workspaces {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
}

#power-profiles-daemon {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 15px;
  padding-left: 6px;
}

#idle_inhibitor {
  color: @blue;
}

#backlight {
  color: @peach;
}

#battery {
  color: @green;
}

@keyframes blink {
  to {
    color: @surface0;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @theme_text_color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 -3px transparent;
}

#bluetooth {
  color: @blue;
}

#power-profiles-daemon.performance {
  color: @maroon;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#power-profiles-daemon.balanced {
  color: @lavender;
}

#clock {
  color: @sky;
}

#cpu {
  color: @green;
}

#memory {
  color: @sky;
}

#temperature {
  color: @teal;
}

#temperature.critical {
  background-color: @red;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  border-radius: 10px;
  color: @overlay0;
  background-color: @surface0;
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.persistent {
  color: @surface1;
  border-radius: 10px;
}

#workspaces button.active {
  color: @peach;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  color: @red;
  border-radius: 0px;
}

#taskbar button.active {
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  padding-left: 3px;
  padding-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#pulseaudio {
  color: @sapphire;
}
#pulseaudio.bluetooth {
  color: @pink;
}
#pulseaudio.muted {
  color: @red;
}
#pulseaudio.source-muted {
  color: @red;
}
#window {
  color: @rosewater;
}

#network {
  color: @teal;
  /* min-width: 330px; */
}

#network.disconnected,
#network.disabled {
  background-color: @surface0;
  color: @text;
}
#submap {
  color: @blue;
}
